@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --black-500: #040404;
  --black-400: #1f1f1f;
  --black-300: #373737;
  --black-200: #525252;
  --black-100: #6b6b6b;

  --grayscale-500: #808080;
  --grayscale-400: #999999;
  --grayscale-300: #ababab;
  --grayscale-200: #c4c4c4;
  --grayscale-100: #dedede;
  --grayscale-50: hsl(0, 0, 100);

  --primary-blue-400: #242945;
  --primary-blue-300: #1b92ff;
  --primary-blue-200: #4da9ff;
  --primary-blue-100: #e9f4ff;
  --primary-blue-50: #f5faff;
  --primary-blue-10: #f2f3f8;

  --secondary-yellow-100: #ffc149;

  --secondary-red-200: #ff4f64;
  --secondary-red-100: #ffeef0;

  --background-400: #f4f7fb;
  --background-300: #efefef;
  --background-200: #f7f7f7;
  --background-100: #fcfcfc;
  --background-50: #fafafa;

  --line-200: #e6e6e6;
  --line-100: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #040404;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard-variable);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Landing Page 애니메이션 */
  /* 첫 번째 손 이미지 애니메이션 */
  @keyframes shakeVerticalWithAngle {
    35% {
      transform: translateY(-10px) rotate(8deg);
    }
  }

  .animate-shakeVerticalWithAngle {
    animation: shakeVerticalWithAngle 1.5s ease-in-out 1s;
    display: inline-block;
    will-change: transform;
  }

  /* 두 번째 자동차 이미지 애니메이션 */
  @keyframes moveForward {
    0% {
      transform: translateX(300px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-7px);
    }
  }

  @layer utilities {
    .animate-moveForward {
      animation: moveForward 2.5s ease-out forwards;
      display: inline-block;
      will-change: transform;
    }

    .animate-float {
      animation: float 0.7s ease-in-out 3;
      display: inline-block;
      will-change: transform;
    }
  }

  @layer utilities {
    .animate-hoverForward {
      transition: transform 0.3s ease-out;
    }

    .group:hover .animate-hoverForward {
      transform: translateX(-22px) scale(1.001);
    }
  }

  /* 세 번째 건물 이미지 애니메이션 */
  @keyframes enlargeAndShake {
    0% {
      transform: translateX(0);
    }

    10% {
      transform: translateX(-3px);
    }

    20% {
      transform: translateX(3px);
    }

    30% {
      transform: translateX(-3px);
    }

    40% {
      transform: translateX(3px);
    }

    50% {
      transform: translateX(-2px);
    }

    60% {
      transform: translateX(2px);
    }

    70% {
      transform: translateX(-1px);
    }

    80% {
      transform: translateX(1px);
    }

    90% {
      transform: translateX(-0.5px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @layer utilities {
    .animate-enlargeAndShake {
      animation: enlargeAndShake 3s ease-out forwards;
      display: inline-block;
      will-change: transform;
    }

    .transition-transform {
      transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    .group:hover .animate-hoverScale {
      transform: scale(1.1);
    }
  }
}
