@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --black-500: #040404;
  --black-400: #1f1f1f;
  --black-300: #373737;
  --black-200: #525252;
  --black-100: #6b6b6b;

  --grayscale-500: #808080;
  --grayscale-400: #999999;
  --grayscale-300: #ababab;
  --grayscale-200: #c4c4c4;
  --grayscale-100: #dedede;
  --grayscale-50: hsl(0, 0, 100);

  --primary-blue-400: #242945;
  --primary-blue-300: #1b92ff;
  --primary-blue-200: #4da9ff;
  --primary-blue-100: #e9f4ff;
  --primary-blue-50: #f5faff;
  --primary-blue-10: #f2f3f8;

  --secondary-yellow-100: #ffc149;

  --secondary-red-200: #ff4f64;
  --secondary-red-100: #ffeef0;

  --background-400: #f4f7fb;
  --background-300: #efefef;
  --background-200: #f7f7f7;
  --background-100: #fcfcfc;
  --background-50: #fafafa;

  --line-200: #e6e6e6;
  --line-100: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #040404;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-pretendard-variable);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes shakeVerticalWithAngle {

    25% {
      transform: translateY(-10px) rotate(13deg);
    }
  }

  .animate-shakeVerticalWithAngle {
    animation: shakeVerticalWithAngle 2s ease-in-out 1.2s;
    display: inline-block;
    will-change: transform;
  }
}